<!-- <p>home works!</p> -->

<body> 
    <div class="container">
      <div class="row">
  
        <div class="col-sm-2"></div>
  
        <div class="col-sm-8">
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>

          
          <div class="w3-container">

            <div class="w3-card-4">
              
          <div class="text-center">
            <div class="w3-container w3-green">
            <h1>WELCOME</h1>
            
    </div>
            <h6>u n i s o n s</h6>
            <p>It's time to relax</p>
            <br/>
            <br/>
            <br/>
            <div class="row">

                <div class="col-2"></div>

                <div class="col-4">
                    <div class="form-group">
                        
                          <button type="submit"  class="btn btn-success" (click)='signIn()' >SIGNIN</button>
                     
                      </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        
                          <button type="submit"  class="btn btn-success " (click)='signUp()'>SIGNUP</button>
                        
                      </div>
                </div>

                <div class="col-2"></div>
                
            </div>
          </div>
          <br/>

        </div>
  
        <div class="col-sm-2"></div>
      </div>
    </div>
      </div>

    </div>
  </body>
  
  
  