<!-- <p>sign-up works!</p> -->
<body> 
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <br/>
        <br/>
        <br/>
        <br/>

        <div class="w3-container">

          <div class="w3-card-4">
         
        <div class="text-center">
          <div class="w3-container w3-green">
          <h1>SIGN -UP</h1>
        </div>
        <h5>u n i s o n s</h5>
      </div>
        <br/>      
          <form [formGroup]="signUpForm" class="container" id="signUpForm">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-12">
              <input type="name" class="form-control" id="name" formControlName="name"   [(ngModel)]="user.name" placeholder="Enter name"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-12">
              <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="user.email" placeholder="Enter email"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="country">Country:</label>
            <div class="col-sm-12">
              <input type="country" class="form-control" id="country" formControlName="country" [(ngModel)]="user.country" placeholder="Enter country"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-12">
              <input type="password" class="form-control" id="pwd"formControlName="pwd"
              [(ngModel)]="user.pwd" placeholder="Enter password"/>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd"></label>
            <div class="col-sm-12">
              <input type="password" class="form-control" id="pwd" formControlName="repwd"
              [(ngModel)]="rePwd" placeholder="Re-Enter password">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-4">
              <button type="submit"  class="btn btn-success btn-block" (click)='signUp()'>Submit</button>
              <br/>
              <br/>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
  </div>
</body>


